 <div class="article">
     <{$data.content}>
    <!--
    <h3>
        <span>活动介绍</span>
    </h3>
    <p>　　微商根据企业在开始自身社会化的不同阶段，提供相应配套服务。帮助您的企业更快的开始社会化商业进程。微商根据企业在开始自身社会化的不同阶段，提供相应配套服务。帮助您的企业更快的开始社会化商业进程。微商根据企业在开始自身社会化的不同阶段，提供相应配套服务。帮助您的企业更快的开始社会化商业进程。微商根据企业在开始自身社会化的不同阶段提供相应配套服务。帮助您的企业更快的开始社会化商业进程。</p>
    <h3>
        <span>活动安排</span>
    </h3>
    <p>　　微商根据企业在开始自身社会化的不同阶段，提供相应配套服务。帮助您的企业更快的开始社会化商业进程。微商根据企业在开始自身社会化的不同阶段，提供相应配套服务。帮助您的企业更快的开始社会化商业进程。微商根据企业在开始自身社会化的不同阶段，提供相应配套服务。帮助您的企业更快的开始社会化商业进程。微商根据企业在开始自身社会化的不同阶段提供相应配套服务。帮助您的企业更快的开始社会化商业进程。</p>
    <p style="margin:30px 0; text-align:center;">
        <a href="" class="btn-join"></a>
    </p>
    -->
</div>
