<{include file="site/common/header.html"}>
 <div id="body" class="home">
    <div class="position">
            <p class="tips">
            欢迎您使用云猫，请点击进入&nbsp;<a href="<{link ctl='account' act='index' }>">店铺信息配置</a>
            </p>
            <div class="section">
                <div class="main">
                    <div class="hero"></div>
                </div>
                <div class="asider">
                    <div class="list">
                        <div class="header">
                            <h5>最近公告</h5>
                        </div>
                        <ul>
                            <li><a href="#" target="_blank">活动公告活动公告活动公告</a></li>
                            <li><a href="#" target="_blank">活动公告活动公告活动公告</a></li>
                            <li><a href="#" target="_blank">活动公告活动公告活动公告</a></li>
                            <li><a href="#" target="_blank">活动公告活动公告活动公告</a></li>
                            <li><a href="#" target="_blank">活动公告活动公告活动公告</a></li>
                            <li><a href="#" target="_blank">活动公告活动公告活动公告</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wlist col-5">
                <div class="header">
                    <strong>优质资源</strong>
                    <a href="" target="_blank">更多&raquo;</a>
                </div>
                <div class="content">
                    <div class="item">
                        <a href="" class="active">
                            <img src="" />
                            <span>新浪资源位</span>
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="" />
                            <span>新浪资源位</span>
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="" />
                            <span>新浪资源位</span>
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="" />
                            <span>新浪资源位</span>
                        </a>
                    </div>
                    <div class="item last">
                        <a href="">
                            <img src="" />
                            <span>新浪资源位</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="wlist col-5">
                <div class="header">
                    <strong>优质资源</strong>
                    <a href="<{link ctl='activity' act='index' }>" target="_blank">更多&raquo;</a>
                </div>
                <div class="content">
                    <div class="item">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="" />
                                    <span>新浪资源位</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="" />
                                    <span>新浪资源位</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="" />
                                    <span>新浪资源位</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="" />
                                    <span>新浪资源位</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="item last">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="" />
                                    <span>新浪资源位</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
</div>
<{include file="site/common/footer.html"}>

